<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stars.starsapibackend.mapper.CardPayResultMapper">

    <resultMap id="BaseResultMap" type="com.stars.starsapicommon.model.entity.CardPayResult">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="ordersId" column="ordersId" jdbcType="BIGINT"/>
        <result property="cardId" column="cardId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="interfId" column="interfId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ordersId,cardId,
        userId,interfId,createTime,
        updateTime,isDelete
    </sql>

</mapper>
